In [29]:
import os
from pandas_datareader import data
import datetime
from bokeh.plotting figure, show, output_file

SyntaxError: invalid syntax (<ipython-input-29-9baeb0486470>, line 4)

In [24]:
start=datetime.datetime(2020,6,1)
end=datetime.datetime(2020,6,24)

df= data.DataReader(name="TSLA", data_source="yahoo",start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-01,899.000000,854.099976,858.000000,898.099976,14939500,898.099976
2020-06-02,908.659973,871.000000,894.700012,881.559998,13565600,881.559998
2020-06-03,897.940002,880.099976,888.119995,882.960022,7949500,882.960022
2020-06-04,895.750000,858.440002,889.880005,864.380005,8887700,864.380005
2020-06-05,886.520020,866.200012,877.840027,885.659973,7811900,885.659973
2020-06-08,950.000000,909.159973,919.000000,949.919983,14174700,949.919983
2020-06-09,954.440002,923.929993,940.010010,940.669983,11388200,940.669983
2020-06-10,1027.479980,982.500000,991.880005,1025.050049,18563400,1025.050049
2020-06-11,1018.960022,972.000000,990.200012,972.840027,15916500,972.840027
2020-06-12,987.979980,912.599976,980.000000,935.280029,16730200,935.280029
2020-06-15,998.840027,908.500000,917.789978,990.900024,15697200,990.900024
2020-06-16,1012.880005,962.390015,1011.849976,982.130005,14051100,982.130005
2020-06-17,1005.000000,982.570007,987.710022,991.789978,9869400,991.789978
2020-06-18,1019.200012,994.469971,1003.000000,1003.960022,9751900,1003.960022
2020-06-19,1015.969971,991.340027,1012.780029,1000.900024,8679700,1000.900024
2020-06-22,1008.880005,990.020020,999.950012,994.320007,6362400,994.320007
2020-06-23,1012.000000,994.010010,998.880005,1001.780029,6365300,1001.780029
2020-06-24,1000.880005,953.140015,994.109985,960.849976,10959600,960.849976